body {
    display: grid;
    grid-template-rows: 400px auto 200px auto auto;
    margin: 0;
    background-color: black;
    height: 100vh;
}

#headerPic {
    height: 100%;
    width: 100%;
}

nav {
    padding: 1%;
    display: flex;
    justify-content: center;
    gap: 30px;

}

a {
    text-decoration: none;
    color: white;

}

a:hover {
    color: blueviolet;
}

#welcome {
    width: 100%;
    height: 100%;
}


.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.introduction {
    text-align: center;
    grid-column: 2/3;
    color: white;

}

.homeImage {
    grid-column: 1/2;
    background-image: url("/img/homePic.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;


}

.activitiesContent{
    align-items: center;
}

footer {
    padding: 30px;
    text-align: center;
    color: white;
    background-color: black;
}

@media only screen and (min-width: 768px) {
 /* this is where you would 'create' your desktop view */
    body {
        grid-template-rows: 600px auto 150px auto auto;

    }
    /* you can adjust that 600px to whatever looks best to you */
    /* also try adjusting the body grid so that your content is rearranged, 
    to do this just mess with the grid-template-rows or add
    some columns! */
    nav {
        padding: 2%;
    }
}